<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title}) %>
  <body>
    <header><%- include('./partials/navbar') %></header>
    <main>
      <%- include('./partials/sidebar') %>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1><%= title %></h1>
          </div>
        </div>

        <div class="row">
          <form action="" method="post">
            <div class="input-field col s12">
              <label for="fname">First Name</label>
              <% if (locals.author) { %>
              <input
                class="input-field"
                type="text"
                id="fname"
                name="first_name"
                value="<%= author.first_name %>"
              />
              <% } else { %>
              <input type="text" id="fname" name="first_name" />
              <% } %>
            </div>

            <div class="input-field col s12">
              <label for="lname">Family Name</label>
              <% if (locals.author) { %>
              <input
                class="input-field"
                type="text"
                id="lname"
                name="family_name"
                value="<%= author.family_name %>"
              />
              <% } else { %>
              <input type="text" id="lname" name="family_name" />
              <% } %>
            </div>

            <div class="col s12">
              <label for="dob">Date of Birth</label>
              <% if (locals.author && author.date_of_birth) { %>
              <input
                class="input-field"
                type="date"
                id="dob"
                name="date_of_birth"
                value="<%= new Date(author.date_of_birth).toISOString().split('T')[0] %>"
              />
              <% } else {%>
              <input
                class="input-field"
                type="date"
                id="dob"
                name="date_of_birth"
                placeholder="dd/mm/yyyy"
              />
              <% } %>
            </div>

            <div class="col s12">
              <label for="dod">Date of Death</label>
              <% if (locals.author && author.date_of_death) { %>
              <input
                type="date"
                id="dod"
                name="date_of_death"
                value="<%= new Date(author.date_of_death).toISOString().split('T')[0] %>"
              />
              <% } else { %>
              <input
                type="date"
                id="dod"
                name="date_of_death"
                placeholder="dd/mm/yyyy"
              />
              <% } %>
            </div>

            <div class="col s12 center-align">
              <button class="btn input-field" type="submit">Submit</button>
            </div>
          </form>
          
          <% if (locals.errors) { errors.forEach(e => { %>    
          <div class="row">
            <div class="col s12">
              <p><%= e.msg %></p>
            </div>
          </div>
          <% })} %>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
