<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title}) %>
  <body>
    <header><%- include('./partials/navbar') %></header>
    <main>
      <%- include('./partials/sidebar') %>
      <div class="container">
        <h1><%= title %></h1>
        <table>
          <thead>
              <tr>
                  <th>Book</th>
                  <th>Availability</th>
                  <th>Due</th>
              </tr>
          </thead>
          <tbody>
            <% bookinstance_list.forEach(bookinstance => { %>
            <tr>
              <td><%= bookinstance.book.title %></td>
              <td class=<%- bookinstance.status==='Available' ? 'green-text' : 'red-text' %> ><%= bookinstance.status %></td>
              <% if (bookinstance.status !== 'Available') { %>
                <td><%= bookinstance.due_back_formatted %></td>
              <% } %>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
