<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head',{title}) %>
  <body>
    <header><%- include('./partials/navbar') %></header>
    <main>
      <%- include('./partials/sidebar') %>
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1>Title: <%= book.title %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <table>
              <tbody>
                <tr>
                  <th>Author</th>
                  <td>
                    <a href="<%- book.author.url %>"><%= book.author.name %></a>
                  </td>
                </tr>
                <tr>
                  <th style="vertical-align: initial">Summary</th>
                  <td><%= book.summary %></td>
                </tr>
                <tr>
                  <th>ISBN</th>
                  <td><%= book.isbn %></td>
                </tr>
                <tr>
                  <th>Genre</th>
                  <td>
                    <% if (book.genre.length > 0) { for( let i = 0; i <
                    book.genre.length; i+=1 ) { %>
                    <span>
                      <a href="<%= book.genre[i].url %>">
                        <%= book.genre[i].name %>
                      </a>
                      <%- i < book.genre.length - 1 ? ', ' : '' %>
                    </span>
                    <% }} %>
                  </td>
                </tr>
                <tr>
                  <th style="vertical-align: initial">Copies</th>
                  <td>
                    <ul class="collection">
                      <% if (book_instances.length > 0) {
                      book_instances.forEach(copy=> { %>
                      <li class="collection-item">
                        <p
                          class="<%- copy.status === 'Available' ? 'green-text' : 'red-text' %>"
                        >
                          <%= copy.status %>
                        </p>
                        <p>Imprint: <%= copy.imprint %></p>
                        <% if(copy.status !== 'Available') {%>
                        <p>Due back: <%= copy.due_back_formatted %></p>
                        <% } %>
                        <p>ID: <a href="<%= copy.url %>"><%= copy._id %></a></p>
                      </li>
                      <% })} else { %> There are no copies of this book in the
                      library <% } %>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row center-align">
          <div class="row col s12 m6">
            <a class="btn" href="<%=book.url%>/update">Update Book</a>
          </div>

          <div class="row col s12 m6">
            <a class="btn" href="<%=book.url%>/delete">Delete Book</a>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
